<% include partials/header %>

<h1>Tic Tac Toe</h1>

<h4> Please Enter Your Name </h4>
<form action="/ttt" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="submit" value="Submit">
</form> 

<% include partials/footer %>